    
    <footer class="footer-container">
        <div class="container">
            <p class="footer-copyright">Copyright - Adejare Daniel 2023</p>
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html>